@import "bulma/css/bulma.css";

/* Colors */
$background_base: hsl(204, 86%, 53%);
$background_gray: #c8c8c8;
$background_selected: hsl(48, 100%, 67%);

/* Fonts */
$font-primary: 'Open Sans';

/* Shadow */
$shadow_primary: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

/* Pages */
@import 'users/new.scss';
@import 'users/show.scss';
@import 'sessions/new.scss';
@import 'tasks/new.scss';

html, body {
  margin: 0;
  height: 100%;
}

.navbar {
  margin: 1rem;
  .navbar-brand {
    .navbar-item {
      span {
        font: {
          family: $font-primary;
          weight: 800
        }
        margin: {
          left: 0.5rem;
        }
      }
    }
  }
}

.notification {
  width: 70%;
  margin: 0 auto;
}

[v-cloak] {
  display: none;
}

.simple-calendar {
  .calendar-heading {
    max-width: 80%;
    margin: 0 auto;
    a {
      color: #3298dc;
    }
    .calendar-title {
      width: 50%;
      font: {
        family: $font-primary;
        weight: 800;
      }
    }
  }
  .table {
    max-width: 80%;
    margin: {
      right: auto;
      left: auto;
    }
    box-shadow: $shadow_primary;
    thead {
      tr {
        background: $background_base;
      }
      th {
        color: white;
      }
    }
    td {
      height: 100px;
      width: 100px;
      a {
        color: black;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .prev-month, .next-month {
      background: $background_gray;
    }
    .today {
      a {
        color: black;
      }
      background: $background_base;
    }
  }
  .create-button {
    box-shadow: $shadow_primary;
    color: white;
    background: $background_base;
    font: {
      family: $font-primary;
      weight: 800;
    }
    border: none;
    &:hover {
      background: $background_selected;
      color: black;
    }
    svg {
      margin-right: 1rem;
    }
  }
  .delete-button {
    a {
      color: black;
    }
  }
}
